body{
 margin: 0;
 margin-top: 4px;
 margin-right: 10%;
 margin-left: 10%;
 padding: 0;
}


h1 {
  font: 300 50px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}